@page "/Licenses"
@using ComplianceSoftwareWebSite.Components.Pages.Authentication
@using Microsoft.AspNetCore.Components.Authorization
<h3>Licenses</h3>

<AuthorizeComponent>
    <div class="license-item-list-container">
        <table class="license-item-table">
            <thead>
                <tr>
                    <th>License Name</th>
                    <th>Issuing Agency</th>
                    <th>Issuing Agency Link</th>
                    <th>License Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in LicenseModels)
                {
                    <tr>
                        <td>
                            @* <span class="license-item-icon">@item.Icon</span> *@
                            @item.LicenseName
                        </td>
                        <td>
                            @* <span class="assigned-to-icon"><img src="@item.AssignedToIcon" alt="icon" /></span> *@
                            @item.IssuingAgency
                        </td>
                        <td>
                            <a href="@item.IssuingAgencyLink" target="_blank">@item.IssuingAgencyLink</a>
                        </td>
                        <td>
                            @if(string.IsNullOrEmpty(item.StateCode))
                            {
                                <p>Federal</p>
                            }
                            @item.StateCode
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</AuthorizeComponent>