@page "/Licenses"
@using ComplianceSoftwareWebSite.Components.Pages.Authentication
@using Microsoft.AspNetCore.Components.Authorization
<h3>Licenses</h3>

<AuthorizeComponent>
    <div class="license-item-list-container">
        <table class="license-item-table">
            <thead>
                <tr>
                    <th>License Name</th>
                    <th>Issuing Agency</th>
                    <th>Issuing Agency Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in LicenseModels)
                {
                    <tr>
                        <td>
                            @* <span class="license-item-icon">@item.Icon</span> *@
                            @item.LicenseName
                        </td>
                        <td>
                            @* <span class="assigned-to-icon"><img src="@item.AssignedToIcon" alt="icon" /></span> *@
                            @item.IssuingAgency
                        </td>
                        <td>
                            <span class="state-indicator"></span>
                            @item.IssuingAgencyLink
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</AuthorizeComponent>