@page "/company"
@using ComplianceSoftwareWebSite.Components.Pages.Authentication
@using ComplianceSoftwareWebSite.Models
@using ComplianceSoftwareWebSite.Services.Interfaces
@using StandardComponents.InputComponents
@using StandardComponents.UI_Components.Buttons
@rendermode InteractiveServer

<AuthorizeComponent>
    <div class="form-container">
        <EditForm class="form" Model="@_companyDetails" OnValidSubmit="HandleValidSubmit" FormName="RegisterCompany">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <h3>Company Information</h3>

                <InputSelectComponent TItem="string"
                                      Id="entityType"
                                      Label="Company/Entity Type"
                                      Options="_entityTypes"
                                      ValueChanged="@(v => _companyDetails.EntityType = v)" />



                <InputTextComponent Id="businessName"
                                    Label="Business Name"
                                    ValueChanged="@(v => _companyDetails.BusinessName = v)" />

                <SearchDropDown Id="businessIndustry"
                                Label="Business Industry"
                                ValueChanged="@(v => IndustryValueChanged(v))"
                                Options="_industryNames" />

                <InputTextComponent Id="zipCode"
                                    Label="Zip Code"
                                    ValueChanged="@(v => _companyDetails.ZipCode = v)" />

                <SearchDropDown Id="stateOfFormation"
                                Label="State of Formation"
                                ValueChanged="@(v => StateValueChanged(v))"
                                Options="_states?.Keys.ToList()" />


                <SearchDropDown Id="countyOfFormation"
                                Label="County of Formation"
                                ValueChanged="@(v => CountyValueChanged(v))"
                                Options="_counties?.Keys.ToList()"
                                IsDisabled="_counties == null || !_counties.Any()" />

                <SearchDropDown Id="cityOfFormation"
                                Label="City of Formation"
                                ValueChanged="@(v => CityValueChanged(v))"
                                Options="_cities?.Keys.ToList()"
                                IsDisabled="_cities == null || !_cities.Any()" />

                <InputTextComponent Id="streetAddress"
                                    Label="Address"
                                    ValueChanged="@(v => _companyDetails.StreetAddress = v)" />

                <InputDateComponent Id="entityFormationDate"
                                    Label="Entity Formation Date"
                                    ValueChanged="@(v => _companyDetails.EntityFormationDate = v)" />

                <PrimaryButtonComponent ButtonType="submit">Register Company</PrimaryButtonComponent>
            </div>
        </EditForm>
    </div>
</AuthorizeComponent>


