@page "/company"
@using ComplianceSoftwareWebSite.Components.Pages.Authentication
@using ComplianceSoftwareWebSite.Models
@using ComplianceSoftwareWebSite.Services.Interfaces
@using StandardComponents.InputComponents
@rendermode InteractiveServer

<AuthorizeComponent>
    <EditForm Model="@_companyDetails" OnValidSubmit="HandleValidSubmit" FormName="RegisterCompany">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-container">
            <h3>Company Information</h3>

            <InputSelectComponent TItem="string"
                                  Id="entityType"
                                  Label="Company/Entity Type"
                                  Options="_entityTypes"
                                  ValueChanged="@(v => _companyDetails.EntityType = v)" />

            <InputTextComponent Id="stateOfFormation"
                                Label="State of Formation"
                                ValueChanged="@(v => _companyDetails.StateOfFormation = v)" />

            <InputTextComponent Id="businessName"
                                Label="Business Name"
                                ValueChanged="@(v => _companyDetails.BusinessName = v)" />

            <InputSelectComponent TItem="string"
                                  Id="businessIndustry"
                                  Label="Business Industry"
                                  ValueChanged="@(v => IndustryValueChanged(v))"
                                  Options="_industryNames"
                                  PropertyName="IndustryName" />

            <InputTextComponent Id="zipCode"
                                Label="Zip Code"
                                ValueChanged="@(v => _companyDetails.ZipCode = v)" />

            <InputTextComponent Id="city"
                                Label="City"
                                ValueChanged="@(v => _companyDetails.City = v)" />

            <InputTextComponent Id="streetAddress"
                                Label="Address"
                                ValueChanged="@(v => _companyDetails.StreetAddress = v)" />

            <InputDateComponent Id="entityFormationDate"
                                Label="Entity Formation Date"
                                ValueChanged="@(v => _companyDetails.EntityFormationDate = v)" />

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
</AuthorizeComponent>


